@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');


:root {
  --brand: #3FD554;
  --brand-light: #7FEBAA;
  --brand-dark: #1E9B6A;
  --brand-xlight: #E6FFF3;
  --brand-xdark: #157A4A;
  --radius: 0.625rem;
}


body {
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
} 
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}


.embla__slide--categories-card {
  flex: 0 0 100%; /* Default: 1 item visible on smallest screens */
  min-width: 0; /* Required for flex items */
  padding-left: 1rem; /* Added missing value and gap */
}

/* sm: 2 items visible (min-width: 640px) */
@media (min-width: 640px) {
  .embla__slide--categories-card {
    flex: 0 0 50%;
  }
}

/* md: 4 items visible (min-width: 768px) */
@media (min-width: 768px) {
  .embla__slide--categories-card {
    flex: 0 0 25%;
  }
}

/* Optional: Add lg breakpoint if needed (min-width: 1024px) */
/* @media (min-width: 1024px) {
  .embla__slide--categories-card {
     flex: 0 0 25%; // Or more if needed
  }
} */


.embla__slide--basic-card {
  flex: 0 0 33%; /* Default: 2 items visible on smallest screens */
  min-width: 0; /* Required for flex items */
  padding-left: 1rem; /* Gap */
}

/* sm: 6 items visible (min-width: 640px) */
@media (min-width: 640px) {
  .embla__slide--basic-card {
    flex: 0 0 calc(100% / 4);
  }
}

/* md: 8 items visible (min-width: 768px) */
@media (min-width: 768px) {
  .embla__slide--basic-card {
    flex: 0 0 calc(100% / 8);
  }
}
